<div class="mdl-grid" style="width: 100%">
    <div class="mdl-cell mdl-cell--4-col center">
        <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="showAll()">Show All</button>
    </div>
    <div class="mdl-cell mdl-cell--4-col center">
        <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="toggleAdd = !toggleAdd">Add</button>
    </div>
    <div class="mdl-cell mdl-cell--4-col center">
        <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="toggleSearch = !toggleSearch">Search</button>
    </div>
</div>